AWS_ACCESS_KEY_ID={{ aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_key }}
RESTIC_REPOSITORY={{ restic_repository }}
RESTIC_PASSWORD={{ restic_password }}
BOOKSTACK_DB_PASSWORD={{ bookstack_db_password }}

