- name: Remove old Docker repo if exists
  file:
    path: /etc/apt/sources.list.d/docker.list
    state: absent

- name: Remove old Docker GPG keys
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /usr/share/keyrings/docker-archive-keyring.gpg
    - /etc/apt/keyrings/docker.gpg

- name: Install required packages
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present
    update_cache: yes

- name: Create keyrings directory
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Add Docker GPG key
  get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.gpg
    mode: '0644'

- name: Add Docker repository
  apt_repository:
    repo: >
      deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg]
      https://download.docker.com/linux/debian
      bookworm stable
    state: present

- name: Install Docker
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: yes

- name: Enable Docker service
  service:
    name: docker
    state: started
    enabled: true

- name: Add user to docker group
  user:
    name: dylan
    groups: docker
    append: yes

